.userPageContainer {
    width: 100%;
    min-height: 110vh;
    background-color: #f5f5f5;
}
.mainUserPageContainer {
    width: 100%;
    margin: 0 auto;
    max-width: 1160px;
}
.mainUserBackLink {
    text-decoration: none;
    color: #454545;
    font-size: 14px;
    margin: 20px 0 10px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.mainUserNavBtns{
    display: flex;
    padding-top: 12px;
    align-items: center;
    flex-direction: row;
}
.navCopiedText{
    display: flex;
    align-self: center;
    margin: 0 5px 3px 0;
    font-size: 12px;
    color: #666666;
    opacity: 1;
}
.shearContainer{
    position: relative;
}
.copiedMessage {
    background-color: #fff;
    width: 220px;
    border-radius: 10px;
    right: 10px;
    top: 55px;
    padding: 5px 10px;
    box-shadow: 0px 0px 18px rgba(133, 133, 133, 0.16);
    font-size: 12px;
    text-align: center;
    position: absolute;
    z-index: 0;
    animation: slideIn 0.3s forwards;
}
.copiedMessage input{
    background-color: #EBEBEB;
    width: 180px;
    margin-top: 5px;
    border-radius: 6px;
    border: none;
    padding: 8px 5px;
    color: #747474;
}
.mainUserNavBtn{
    outline: none;
    background: none;
    border: none;
    cursor:pointer;
    margin-right: 10px;
}
.mainUserNavBtnLast{
    outline: none;
    background: none;
    border: none;
    cursor:pointer;
    margin-right: 0;
}
.mainUserNavBtn img{
    opacity: 0.8;
}
.mainUserNavLink{
    opacity: 0.8;
}
.mainUserInfoBlocks{
    width: calc(100%);
    max-width: 1160px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.mainUserInfoBlock{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: center;
    align-items: flex-start;
    border-radius: 8px;
    margin-right: 20px;
}
.mainUserPhotoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.mainUserInfoContainer{
    width: calc(100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.mainUserMainInfo{
    max-width: 800px;
    width:  calc(100%);
    padding: 5px;
    border-radius: 8px;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.mainUserMainServ{
    max-width: 800px;
    width:  calc(100%);
    border-radius: 8px;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.mainUserNavRating{
    position: relative;
}
.mainUserNavRatingText{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -52%);
    margin: 0;
    color: #212529;
    font-size: 10px;
    font-weight: 600;
}
.mainUserBackLink img {
    width: 15px;
    height: 15px;
}
.mainUserBackLink p {
    margin: 0 0 2px 5px;
    font-weight: 400;
}
.mainUserNav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: -18px;
    margin-bottom: 10px;
}
.userContactBtn{
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.deskContactBlock{
    width: 100%;
    height: 100%;
    overflow: auto;
}
.deskMobileContactBlock{
    display: none;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.mainUserMainPhotoBlock{
    width: 310px;
    height: 310px;
    align-self: center;
    justify-content: center;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
}
.smallUserPhotosBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.photosSliderBlock{
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    margin: 15px;
}
.contactsModalPage{
    max-width: 650px;
    width: 100%;
    margin: 0 10px;
}
@media screen and (max-width: 1160px) {
    .mainUserInfoBlocks{
        width: calc(100% - 20px);
        max-width: 100%;
        margin: 0 10px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    .mainUserNav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: -10px 10px 10px 10px;
    }
}
@media screen and (max-width: 720px) {
    .mainUserNav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 10px 10px 10px 10px;
    }
}
@media screen and (max-width: 640px) {
    .deskMobileContactBlock{
        display: block;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .userContactBtn{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
    .deskContactBlock{
        display: none;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .mainUserInfoBlocks{
        width: calc(100% - 20px);
        max-width: 100%;
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    .mainUserPhotoContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .mainUserInfoBlock{
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        justify-content: center;
        align-items: flex-start;
        border-radius: 8px;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .mainUserInfoContainer{
        width: calc(100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    .mainUserMainPhotoBlock{
        width: 310px;
        height: 310px;
        align-self: center;
        justify-content: center;
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
    }
    .photosSliderBlock{
        display: flex;
        align-self: center;
        flex-direction: column;
        justify-content: center;
        margin: 15px 15px;
    }
}
@media screen and (max-width: 340px) {
    .mainUserMainPhotoBlock{
        width: 250px;
        height: 250px;
        align-self: center;
        justify-content: center;
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
    }
}
@media screen and (max-width: 305px) {
    .mainUserMainPhotoBlock{
        width: 200px;
        height: 200px;
        align-self: center;
        justify-content: center;
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
    }
}