.AllContainer {
    min-height: 100vh;
    background-color: #F1F1F1;
    display: flex;
    overflow: auto;
    z-index: 55;
    width: 100%;
}
.allCategoriesBtn {
    text-decoration: none;
    color: #454545;
    font-size: 14px;
}
.AllCategoryScreenContainer {
    margin: 0 auto;
    max-width: 670px;
    width: 100%;
    padding: 0;
}
.AllCategoryScreenBlock{
    margin: 20px 10px 25px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.AllCategoryScreenBlock h2{
    margin: 0 10px;
}
.form-prsnl-heading{
    font-size: 22px;
    font-weight: bold;
    color: black;
    margin-left: 10px;
    margin-top: 10px;
}

.OneCategoryScreenInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.OneCategoryTitle{
    margin: 13px 0;
}
.OneTopCategoryTitle{
    margin: 13px 0;
    font-size: 17px;
    font-weight: 600;
}
.OneCategoryInfoTitle{
    margin: 13px 0;
}
.OneCategoryScreenImg {
    width: 38px;
    height: 38px;
    margin: 0 10px 0 0;
}
.contactDeveloperItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    cursor: pointer;
}
.contactDeveloperItem:last-child{
    border-top: 1px solid #dddddd;
}
.OneCategoryScreenItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px 10px;
    border-bottom: #DDDDDD solid 1px;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}
.OneCategoryScreenItem:last-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px 10px;
    border-bottom: #DDDDDD solid 0px;
    text-decoration: none;
    color: #000000;
}
.OneCategoryScreenItemImg{
    width: 20px;
    opacity: 0.8;
}
@media screen and (max-width: 320px) {
    .OneCategoryScreenImg {
        display: none;
    }
}
