* {
    outline: 0;
    font-family: sans-serif
}
body {
    background-color: #fafafa
}
span.msg,
span.choose {
    color: #555;
    font-weight: 600;
    padding: 5px 0 25px;
    display: inherit
}
.container {
    width: 100%;
    max-width: 1000px;
    margin: 50px auto 0;
    text-align: left;
}
.dropdownBlock{
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.priceBlock{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 1000px;
    z-index: 2;
}
.additionalDetails:empty {
    display: none;
}
.additionalDetails{
    width: 100%;
    max-width: 245px;
    padding: 2px 10px;
    margin-top: 5px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    font-size: 14px;
    margin-right: 15px;
    color: #474747;
}
.additionalDetails p{
    margin: 10px 0;
}
.priceTable {
    width: 100%;
    margin-top: 5px;
    background-color: #fff;
    font-size: 14px;
    color: #474747;
    max-width: calc(100%);
    z-index: 2;
}
table tbody td:nth-child(2) {
    font-size: 13px;
    max-width: 200px;
}
.priceTable table {
    width: 100%;
    border-collapse: collapse;
}

.priceTable th, .priceTable td {
    border: 1px solid #dcdcdc;
    padding: 8px;
    text-align: left;
}

.priceTable th {
    background-color: #f2f2f2;
}
.dropdown {
    width: 100%;
    max-width: 320px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    height: 100%;
    text-align: left;
    margin-bottom: 10px;
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px 10px 10px
}

.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    margin-bottom: 4px;
    float: right;
    line-height: 20px
}
.dropdown:active {
    background-color: #f8f8f8
}
.dropdown.active:hover,
.dropdown.active {
    background-color: #f8f8f8
}
.dropdown.active .select > i {
    transform: rotate(-180deg);
    margin-bottom: 6px;
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    overflow: hidden;
    display: none;
    max-height: 260px;
    overflow-y: auto;
    z-index: 15
}
.dropdown-data{
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    overflow: hidden;
    display: none;
    max-height: 220px;
    overflow-y: auto;
    z-index: 2
}
.dropdown .dropdown-menu::-webkit-scrollbar {
    width: 4px;
}

.dropdown .dropdown-menu::-webkit-scrollbar-track {
    background-color: #f6f6f6;
}

.dropdown .dropdown-menu::-webkit-scrollbar-thumb {
    background-color: #a4a4a4;
    border: 1px solid #f6f6f6;
    border-radius: 5px;
}

.dropdown .dropdown-menu::-webkit-scrollbar-thumb:hover {
    background-color: #8d8d8d;
    border: 0px solid #f6f6f6;
}
.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    border-bottom: 1px solid #efefef;
}
.dropdown .dropdown-menu li b {
    font-weight: 400;
}
.dropdown .dropdown-menu li p {
    margin: 5px 0 0 0;
    color: #a1a1a1;
}
.dropdown .dropdown-menu li:last-child {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    border-bottom: 0 solid #efefef;
}
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none;
}
.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}
.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}
.dropdown {
    position: relative;
}

.dropdown .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: -1px;
    margin-top: 16px;
    border: 1px solid #dcdcdc;
    overflow: hidden;
    overflow-y: auto;
    z-index: 9;
}

.dropdown .dropdown-menu.show {
    display: block;
}

@media screen and (max-width: 1000px ){
    .dropdownBlock{
        width: 100%;
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        z-index: 10;
    }
    .dropdown {
        width: 100%;
        max-width: 100%;
        background-color: #fff;
        border: 1px solid #dcdcdc;
        transition: all .5s ease;
        position: relative;
        font-size: 14px;
        color: #474747;
        height: 100%;
        text-align: left;
        margin-bottom: 10px;
    }
    .priceBlock{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 100%;
        z-index: 2;
    }
    .additionalDetails{
        width: 100%;
        max-width: calc(100% - 20px);
        margin-bottom: 10px;
        padding: 2px 10px;
        margin-top: 5px;
        background-color: #fff;
        border: 1px solid #dcdcdc;
        font-size: 14px;
        margin-right: 15px;
        color: #474747;
    }
    .priceTable {
        width: 100%;
        margin-top: 5px;
        background-color: #fff;
        font-size: 14px;
        color: #474747;
        max-width: calc(100%);
        z-index: 2;
    }
}