.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #939393;
}

.container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(85, 85, 85, 0);
}

.container::-webkit-scrollbar-track {
    background-color: rgba(204, 204, 204, 0);
}
.allBestSpecialists {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin:0 auto;
    max-width: 1160px;
}
.oneBestSpecialistsBlock {
    flex: 0 0 calc(33.333% - 7px);
    height: 100px;
    background-color: #fff;
    display: flex;
    align-self: center;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    margin: 0 10px 10px 0;
}

.oneBestSpecialistsBlock:nth-child(3n) {
    margin-right: 0;
}
.SearchExampleHome{
    display: none;
}
.allBestSpecialists {
    display: flex;
    text-align: left;
    justify-content: flex-start;
}

.allBestSpecialists h2 {
    display: flex;
    align-self: flex-start;
    text-align: left;
    margin: 20px 0 15px;
}
/* styles.css */

.link-wrapper {
    text-decoration: none;
    color: #000;
    flex-direction: row;
}

.user-container {
    display: flex;
    flex-direction: row;
}

.user-image-container {
    position: relative;
    display: flex;
    flex-direction: row;
}

.user-image {
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.user-image img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    filter: blur(0.3px);
    position: absolute;
    top: 0;
    left: 0;
}

.rating-container {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    background-color: #ffffff;
    padding: 0px 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
}

.rating-star {
    width: 12px;
}

.rating-value {
    margin: 0 0 2px 0;
    font-size: 13px;
}

.user-info-container {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-name {
    font-weight: 500;
    margin: 5px 0 0 0;
}

.user-activity {
    color: #666;
    font-size: 13px;
    display: flex;
    flex-wrap: nowrap;
    margin: 5px 0;
}

.location-container {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.location-image {
    /* Стили для изображения города, если есть */
}

.location-text {
    font-weight: 400;
    margin: 0px 5px;
    font-size: 13px;
}

@media screen and (max-width: 1160px) {
    .allBestSpecialists {
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content:flex-start;
        margin:0 auto;
        padding:0 10px;
        max-width: 100%;
    }
}
@media screen and (max-width: 1000px) {
    .allBestSpecialists {
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content:flex-start;
        margin:0 auto;
        padding: 0 0 0 10px;
        max-width: 100%;
    }
    .oneBestSpecialistsBlock {
        flex: 0 0 calc(50% - 10px);
        height: 100px;
        background-color: #fff;
        display: flex;
        align-self: center;
        justify-content: flex-start;
        align-items: center;
        border-radius: 8px;
        margin: 0 10px 10px 0;
    }
    .oneBestSpecialistsBlock:nth-child(2n) {
        margin-right: 0;
    }
    .oneBestSpecialistsBlock:nth-child(3n) {
        margin-right: 10px;
    }
}
@media screen and (max-width: 720px) {
    .SearchExampleHome{
        margin: -10px 0 0 0;
        height: 70px;
        display: block;
    }
}
@media screen and (max-width: 540px) {
    .allBestSpecialists {
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content:flex-start;
        margin:0 auto;
        padding: 0 0 0 10px;
        max-width: 100%;
    }
    .oneBestSpecialistsBlock {
        flex: 0 0 calc(100% - 10px);
        height: 100px;
        background-color: #fff;
        display: flex;
        align-self: center;
        justify-content: flex-start;
        align-items: center;
        border-radius: 8px;
        margin: 0 10px 10px 0;
    }
    .oneBestSpecialistsBlock:nth-child(2n) {
        margin-right: 10px;
    }
    .oneBestSpecialistsBlock:nth-child(3n) {
        margin-right: 10px;
    }
}
@media screen and (max-width: 290px) {
    .user-image {
        width: 100px;
        height: 130px;
        border-radius: 8px;
    }
    .oneBestSpecialistsBlock {
        flex: 0 0 calc(100% - 10px);
        height: 130px;
        background-color: #fff;
        display: flex;
        align-self: center;
        justify-content: flex-start;
        align-items: center;
        border-radius: 8px;
        margin: 0 10px 10px 0;
    }
}
